
<!--========== HEADER ==========-->
<header class="header navbar-fixed-top">
  <!-- Navbar -->
  <nav class="navbar" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="menu-container js_nav-item">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="toggle-icon"></span>
              </button>

              <!-- Logo -->
              <!-- <div class="logo">
                  <a class="logo-wrap" href="#body">
                      <img class="logo-img logo-img-main" src="assets/imgs/logo.png" alt="Asentus Logo">
                      <img class="logo-img logo-img-active" src="assets/imgs/logo-dark.png" alt="Asentus Logo">
                  </a>
              </div> -->
              <!-- End Logo -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-collapse">
              <div class="menu-container">
                  <ul class="nav navbar-nav navbar-nav-right">
                      <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/']" fragment="body" style="color: #515769; font-size: 1.1em;"><i class="icon-home"></i></a></li>
                      <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/']" fragment="about" style="color: #515769;">À propos</a></li>
                      <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/']" fragment="experience" style="color: #515769;">Expérience</a></li>
                      <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/']" fragment="work" style="color: #515769;">Travaux</a></li>
                      <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" [routerLink]="['/']" fragment="contact" style="color: #515769;">Contact</a></li>
                  </ul>
              </div>
          </div>
          <!-- End Navbar Collapse -->
      </div>
  </nav>
  <!-- Navbar -->
</header>
<!--========== END HEADER ==========-->

<!--========== SLIDER ==========-->
<div class="promo-block parallax-window" data-parallax="scroll" style="background-image: url('assets/imgs/hero.svg');">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="promo-block-divider">
                  <h1 class="promo-block-title">Lucas <br/> GILHARD</h1>
                  <p class="promo-block-text">Développeur full-stack</p>
              </div>
              <ul class="list-inline">
                  <li><a href="mailto:contact@gilhardl.fr" class="social-icons"><i class="icon-envelope"></i></a></li>
                  <li><a href="tel:+33675624501" class="social-icons"><i class="icon-phone"></i></a></li>
                  <li><a href="http://www.linkedin.com/in/gilhardl" class="social-icons" target="_blank"><i class="icon-social-linkedin"></i></a></li>
                  <li><a href="https://github.com/gilhardl" class="social-icons" target="_blank"><i class="icon-social-github"></i></a></li>
              </ul>
          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="about">
  <div class="container content-lg">
      <div class="row">
          <div class="col-sm-3 sm-margin-b-30">
              <div class="text-right sm-text-left">
                  <h2 class="margin-b-0">À propos</h2>
                  <p>Un développeur full-quoi ???</p>
              </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
              <div class="margin-b-60">
                  <p>Bonjour je suis Lucas GILHARD, développeur full-stack chez <a href="http://www.cyberg.fr" target="_blank">Cyberg</a> mais pas seulement.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

              <!-- Progress Box -->
              <div class="progress-box">
                  <h5>PHP <span class="color-heading pull-right">87%</span></h5>
                  <div class="progress">
                      <div class="progress-bar bg-color-base" role="progressbar" data-width="87"></div>
                  </div>
              </div>
              <div class="progress-box">
                  <h5>HTML5 <span class="color-heading pull-right">96%</span></h5>
                  <div class="progress">
                      <div class="progress-bar bg-color-base" role="progressbar" data-width="96"></div>
                  </div>
              </div>
              <div class="progress-box">
                  <h5>JavaSript <span class="color-heading pull-right">52%</span></h5>
                  <div class="progress">
                      <div class="progress-bar bg-color-base" role="progressbar" data-width="52"></div>
                  </div>
              </div>
              <div class="progress-box">
                  <h5>Photoshop <span class="color-heading pull-right">77%</span></h5>
                  <div class="progress">
                      <div class="progress-bar bg-color-base" role="progressbar" data-width="77"></div>
                  </div>
              </div>
              <!-- End Progress Box -->
          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!-- End About -->

<!-- Experience -->
<div id="experience">
  <div class="bg-color-sky-light" data-auto-height="true">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0">Experience</h2>
                      <p>En pleine découverte du monde professionnel...</p>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row row-space-2 margin-b-4">
                      <div class="col-md-4 md-margin-b-4">
                          <div class="service" data-height="height">
                              <div class="service-element">
                                  <i class="service-icon icon-chemistry"></i>
                              </div>
                              <div class="service-info">
                                  <h3>HTML5/CSS3</h3>
                                  <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                              </div>
                              <a href="#" class="content-wrapper-link"></a>    
                          </div>
                      </div>
                      <div class="col-md-4 md-margin-b-4">
                          <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                              <div class="service-element">
                                  <i class="service-icon color-white icon-screen-tablet"></i>
                              </div>
                              <div class="service-info">
                                  <h3 class="color-white">Photoshop</h3>
                                  <p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                              </div>
                              <a href="#" class="content-wrapper-link"></a>    
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="service" data-height="height">
                              <div class="service-element">
                                  <i class="service-icon icon-badge"></i>
                              </div>
                              <div class="service-info">
                                  <h3>Front-end</h3>
                                  <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                              </div>
                              <a href="#" class="content-wrapper-link"></a>    
                          </div>
                      </div>
                  </div>
                  <!--// end row -->
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End Experience -->

<!-- Work -->
<div id="work">
  <div class="container content-lg">
      <div class="row">
          <div class="col-sm-3 sm-margin-b-30">
              <div class="text-right sm-text-left">
                  <h2 class="margin-b-0">Portfolio</h2>
                  <p>Les projets que j'ai réalisé</p>
              </div>
          </div>
          <div class="col-sm-8 col-sm-offset-1">
              <!-- Masonry Grid -->
              <div class="masonry-grid row row-space-2">
                  <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
                      <!-- Work -->
                      <div class="work work-popup-trigger">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="assets/imgs/800x400/01.jpg" alt="Portfolio Image">
                          </div>
                          <div class="work-popup-overlay">
                              <div class="work-popup-content">
                                  <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                  <div class="margin-b-30">
                                      <h3 class="margin-b-5">Art Of Coding</h3>
                                      <span>Clean &amp; Minimalistic Design</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                              <ul class="list-inline work-popup-tag">
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                                              <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                                              <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                                              <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
                      <!-- Work -->
                      <div class="work work-popup-trigger">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="assets/imgs/397x400/01.jpg" alt="Portfolio Image">
                          </div>
                          <div class="work-popup-overlay">
                              <div class="work-popup-content">
                                  <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                  <div class="margin-b-30">
                                      <h3 class="margin-b-5">Art Of Coding</h3>
                                      <span>Clean &amp; Minimalistic Design</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                              <ul class="list-inline work-popup-tag">
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                                              <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                                              <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                                              <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                      <!-- Work -->
                      <div class="work work-popup-trigger">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="assets/imgs/397x300/01.jpg" alt="Portfolio Image">
                          </div>
                          <div class="work-popup-overlay">
                              <div class="work-popup-content">
                                  <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                  <div class="margin-b-30">
                                      <h3 class="margin-b-5">Art Of Coding</h3>
                                      <span>Clean &amp; Minimalistic Design</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                              <ul class="list-inline work-popup-tag">
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                                              <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                                              <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                                              <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4">
                      <!-- Work -->
                      <div class="work work-popup-trigger">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="assets/imgs/397x300/02.jpg" alt="Portfolio Image">
                          </div>
                          <div class="work-popup-overlay">
                              <div class="work-popup-content">
                                  <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                  <div class="margin-b-30">
                                      <h3 class="margin-b-5">Art Of Coding</h3>
                                      <span>Clean &amp; Minimalistic Design</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                              <ul class="list-inline work-popup-tag">
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                                              <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                                              <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                                              <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Work -->
                  </div>
                  <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                      <!-- Work -->
                      <div class="work work-popup-trigger">
                          <div class="work-overlay">
                              <img class="full-width img-responsive" src="assets/imgs/397x300/03.jpg" alt="Portfolio Image">
                          </div>
                          <div class="work-popup-overlay">
                              <div class="work-popup-content">
                                  <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                  <div class="margin-b-30">
                                      <h3 class="margin-b-5">Art Of Coding</h3>
                                      <span>Clean &amp; Minimalistic Design</span>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                              <ul class="list-inline work-popup-tag">
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Design,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Coding,</a></li>
                                                  <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="col-sm-4">
                                          <div class="margin-t-10 sm-margin-t-0">
                                              <p class="margin-b-5"><strong>Project Leader:</strong> John Doe</p>
                                              <p class="margin-b-5"><strong>Designer:</strong> Alisa Keys</p>
                                              <p class="margin-b-5"><strong>Developer:</strong> Mark Doe</p>
                                              <p class="margin-b-5"><strong>Customer:</strong> Keenthemes</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- End Work -->
                  </div>
              </div>
              <!-- End Masonry Grid -->
          </div>
      </div>
      <!--// end row -->
  </div>
</div>
<!-- End Work -->
  
<!-- Contact -->
<div id="contact">
  <div class="bg-color-sky-light">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0">Contacts</h2>
                      <p>Puis-je vous aider ?</p>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row">
                      <div class="col-md-4 col-xs-6 md-margin-b-30">
                          <h5>Adresse</h5>
                          <a href="https://www.google.fr/search?q=Annonay"><i class="icon-map"></i> &nbsp; Annonay, Ardèche <br />FRANCE</a>
                      </div>
                      <div class="col-md-4 col-xs-6 md-margin-b-30">
                          <h5>Téléphone</h5>
                          <a href="tel:+33675624501"><i class="icon-phone"></i> &nbsp; +33 6 75 62 45 01</a>
                      </div>
                      <div class="col-md-4 col-xs-6">
                          <h5>Email</h5>
                          <a href="mailto:contact@gilhardl.fr"><i class="icon-envelope"></i> &nbsp; contact@gilhardl.fr</a>
                      </div>
                  </div>
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<!-- <footer class="footer">
  <div class="content container">
      <div class="row">
          <div class="col-xs-6">
              <img class="footer-logo" src="assets/imgs/logo-dark.png" alt="Aircv Logo">
          </div>
          <div class="col-xs-6 text-right sm-text-left">
              <p class="margin-b-0"><a class="fweight-700" href="http://keenthemes.com/preview/aircv/">Aircv</a> Theme Powered by: <a class="fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>
          </div>
      </div>
  </div>
</footer> -->
<!--========== END FOOTER ==========-->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top"><i class="icon-arrow-up"></i></a>